footer.footer 
    p.footer-text © ООО «Абито», 2011–2021
    ul.footer-menu 
        li 
            a(href="#") 
                p.footer-text Политика конфиденциальности
        li 
            a(href="#") 
                p.footer-text Обработка данных
    ul.footer-menu-link 
        li 
            a(href="#") Реклама на сайте
        li 
            a(href="#") Вакансии
        li 
            a(href="#") Помощь